*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./sky.webp");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: 30%;
    /* filter: blur(1px);   */
    backdrop-filter: blur(5px);
    width: 100%;
    height: 98vh;
    box-sizing: border-box;
    /* position: absolute; */
}
header{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: rgb(255,255, 255,0.5);
    border-radius: 50px;
    /* margin-top: 10px; */

}
#main{
    
        font-size: 50px;
        color:#4274A6 ;


}
#nav{
    margin-left: 40px;
    margin-top: 17px;
    font-family: sans-serif;
}
#formDiv{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 9px;
    width: 50%;
    /* border: 5px solid black; */
    text-align: center;
    
    
}
#input{
    width: 70%  ;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    /* padding-top: 7px; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 2px solid black;
    background: transparent;

}
#btn{
    height:  50px;
    width: 8%;
    /* padding-top: 4px; */
    
    /* padding-bottom: px; */
    font-size: 15px;
    background: transparent;
    border: 2px solid black;

    margin-left: -4px;
    border-top-right-radius:50px ;
    border-bottom-right-radius:50px ;
    /* border: none; */
    border-left: none;

    /* padding-top: 20px; */

}
#srhimg{
    width: 20px;
    /* padding-top: 10px; */
    margin-bottom: -3px;
    cursor: pointer;
}
#country{
    margin-top: 21px;
    font-size: 40px;
    color: #4274A6 ;
    font-weight: 800;
}



#forquery{
    display: none;
}

#cityTemp{
    display: flex;
    justify-content: space-between;
    font-family:sans-serif;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    /* border: 2px solid; */
}
#right{
    text-align: center;
}
#city{
    font-size: 25px;

}
#date{
    font-size: 40px;
}
#time{
    font-size: 60px;
}
#cond{
    font-size:30px ;
    margin-top: 20px;
}



#left{
    text-align: left;
    font-family: 'Courier New';
}

#pressure{
    font-size: 30px;
}
#sunrise{
    font-size: 30px;
}
#sunsit{
    font-size: 30px;
}
#temp{
    font-size: 90px;
}





#forcast{
    display: flex;
    justify-content:space-between;
    /* margin-left: 20px; */
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
    color: rgb(255, 255, 255);
    overflow-x: scroll;
    overflow-y: hidden;
    border: 2px solid;
}


#forcast::-webkit-scrollbar {
    height: 2px;
  }
  #forcast::-webkit-scrollbar-track {
    background-color: #794312
  }
  #forcast::-webkit-scrollbar-thumb {
    background-color: rgb(0, 162, 255);
  }
.oldWeather{
    height: 200px;
    min-width: 150px;
    margin-right: 30px;
    background-color:rgba(91, 183, 228, 0.4);
    text-align: center;
    font-family: 'Courier New';
    font-weight: 700;

    /* background: transparent ; */
    /* backdrop-filter: blur(10px); */
    /* opacity: 0.5; */
    

}
.day{
    font-size: 22px;
    margin-top: 10px;
}
.temp1{
    font-size: 35px;
    margin-top: 10px;
}
.temp2{
    font-size: 35px;
    margin-top: 4px;
}
#loading{
    color: black;
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif;
    color: white;
    background-color: rgba(255, 255, 255,0.5);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    display: none;
}
#errordiv{
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
    font-family: sans-serif;
    color: red;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 20px;
    /* height: 100px; */
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 35%;
    margin-right: 35%;
    display: none;

}



@media (min-width:1024px) and (max-width:1155px) {
    #country{
        margin-left: -40px;
        /* border: 2px solid; */
        /* width: ; */
        /* color: black; */
        /* display: none; */
    }
    #formDiv{
        margin-left: -20px;
    }
    #errordiv{
        /* padding-right: 30px;  */
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 80px;
        font-size: 60px;

    }
    #loading{
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (min-width:900px) and (max-width:1023px){
    body{
        height: 115vh;
    }
    #country{
        margin-left: -40px;
    }
    #formDiv{
        margin-left: -20px;
    }
    #main{
        font-size: 40px;
        margin-top: 5px;
    }
    #errordiv{
        /* padding-right: 30px;  */
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 80px;
        font-size: 60px;

    }
    #loading{
        margin-left: 10%;
        margin-right: 10%;
    }
    
}
@media (min-width:769px) and (max-width:899.5px){
    body{
        height: 117vh;
    }
    #country{
        display: none;
    }
    #input{
        width: 90%;
    }
    #btn{
        width: 10%;
    }
    #formDiv{
        margin-left: 60px;
    }
    #errordiv{
        /* padding-right: 30px;  */
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 80px;
        font-size: 60px;

        
    }
    #loading{
        font-size: 60px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
}
@media (min-width:581px) and (max-width:768px){
    body{
        height: 115vh;
    }
    #country{
        display: none;
    }
    #input{
        width: 85%;
    }
    #btn{
        width: 40px;
    }
    #cityTemp{
        overflow-y: scroll;
    }
    #main{
        font-size: 40px;
        margin-top: 5px;
    }
    #right{
        margin-left: 40px;
    }
    #pressure{
        display: none;
    }
    #sunrise{
        display: none;
    }
    #sunsit{
        display: none;
    }
    #temp{
        margin-top: 40px;
    }
    #errordiv{
        /* padding-right: 30px;  */
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 80px;
        font-size: 30px;

    }
    #loading{
        font-size: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }



}
@media (min-width:481px) and (max-width:580px){
    body{
        height: 110vh;
    }
    #country{
        display: none;
    }
    #input{
        width: 85%;
    }
    #btn{
        width: 15%;
    }
    #main{
        font-size: 38px;
        margin-top: 5px;
        margin-left: -25px;
    }
    #right{
        margin-left: 50px;
    }
    #cityTemp{
        display: none;

    }
    /* #pressure{
        display: none;
    }
    #sunrise{
        display: none;
    }
    #sunsit{
        display: none;
    } */
    /* #temp{
        margin-top: 40px;
    } */
    #forquery{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        color: white;
    }
    #tempquery{
        font-size: 100px;

    }
    #cityanddate{
        margin-top: 13px;
        margin-left: 20px;
    }
    #cityquery{
        font-size: 40px;
    }
    #datequery{
        font-size: 30px;
    }
    #condquery{
        font-size: 50px;
        margin-left: 20px;
        margin-top: 20px;
    }
    #errordiv{
        /* padding-right: 30px;  */
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 80px;
        font-size: 30px;

    }
    #loading{
        font-size: 60px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (min-width:300px) and (max-width:480px){
    body{
        height: 110vh;

    }
    #main{
        display: none;
    }
    #country{
        display: none;
    }
    #formDiv{
        width: 100%;
    }
    #cityTemp{
        display: none;

    }
    #input{
        width: 100%;
        margin-left: -70px;
    }
    #btn{
        width: 15%;
    }
    #forquery{
        display: inline;
        text-align: center;
        /* margin-top: 80px; */
        color: white;
    }
    #tempquery{
        font-size: 70px;
        margin-top: 20px;

    }
    #cityanddate{
        /* margin-top: 13px; */
        margin-left: 20px;
    }
    #cityquery{
        font-size: 40px;
    }
    #datequery{
        font-size: 30px;
    }
    #condquery{
        font-size: 50px;
        margin-left: 20px;
        /* margin-top: 20px; */
    }
    #loading{
        font-size: 40px;
        margin-left: 20px;
        margin-right: 20px;

    }
    #errordiv{
        /* padding-right: 30px;  */
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 80px;
        font-size: 30px;

    }

}